@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';
@import './animations.scss';

:root {
	--bg-primary-dark: #3a3845;
	--bg-secondary-dark: #826f66;

	--text-primary-light: #faebd7;
	--text-secondary-light: #f7ccac;
	--text-tertiary-light: #c69b7b;

	--text-primary-accent: #00ff8d;
}

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-primary-dark);
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	font-size: 12pt;
	color: var(--text-primary-light) !important;
	overflow-x: hidden;
}

.navbar {
	height: 80px;
	background-color: var(--bg-primary-dark) !important;

	.navbar-brand {
		cursor: default;
		color: var(--text-primary-light) !important;
	}

	.navbar-toggler {
		border: none !important;

		&:focus {
			outline: none;
			box-shadow: none;
		}
	}

	.nav-link {
		color: var(--text-primary-light) !important;
		width: 100px;
		margin: auto;
		text-align: center;

		&::after {
			content: '';
			display: block;
			height: 0.175rem;
			width: 0;
			margin-top: 5px;
			bottom: 0;
			background-color: var(--text-primary-accent);
		}

		&:hover {
			color: var(--text-primary-accent) !important;

			&::after {
				width: 100%;
				transition: all 0.75s ease;
			}
		}
	}
	
	.router-link-active {
		color: var(--text-primary-accent) !important;

		&::after {
			content: '';
			display: block;
			height: 0.175rem;
			width: 100%;
			margin-top: 5px;
			bottom: 0;
			background-color: var(--text-primary-accent);
		}
	}
}

.router-view {
	margin-top: 120px;
	min-height: calc(100vh - 120px);
}

.home {
	.welcome-container {
		min-height: 70vh;
		margin: auto;

		.image {
			background-image: url('/src/assets/logo.png');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: right;
			animation: 1s slideInFromLeft;
		}

		.welcome {
			color: var(--text-primary-light) !important;
			animation: 1s slideInFromRight;

			p {
				margin: 0;
				width: 400px;
			}

			.intro, .job-title {
				font-size: 24pt;

			}

			.name {
				font-weight: bold;
				font-size: 56pt;
				color: var(--text-primary-accent);
			}
		}
	}
}

.about {
}

.portfolio {
}

.contact {
}
