@tailwind base;
@tailwind components;
@tailwind utilities;
@import './animations.scss';
@import './variables.scss';

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	background-color: var(--bg-primary-dark);
	color: var(--text-primary-light);
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

nav {
	.nav-link {
		@apply ease-in-out duration-500 transition-all md:flex
		px-8 z-0 relative;
		
		li {
			@apply hover:text-green-neon hover:after:scale-x-100
			md:pl-8 md:pr-0 py-4 text-center;

			&::after {	
				@apply bg-green-neon transition-all ease-in-out duration-500
				mt-[12px] md:mt-auto scale-0 scale-y-100 block content-[''] h-[0.2rem];

			}
		}
	}

	.nav-toggler {
		@apply cursor-pointer md:hidden -mt-1;

		.open-menu, .close-menu {
			@apply transition duration-500 ease-in-out;
		}
	}
}