:root {
	--bg-primary-dark: #3a3845;
	--bg-secondary-dark: #826f66;

	--text-primary-light: #faebd7;
	--text-secondary-light: #f7ccac;
	--text-tertiary-light: #c69b7b;
	--text-primary-accent: #00ff8d;
    --text-dark-accent: #6a6776;
}